.formCamp{
    display: flex;
    box-shadow: 0 0 10px rgb(0, 221, 255);
    border-radius: 5px;
    padding: 20px 10px;
}
@media(max-width: 450px){
    .formCamp{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
}
.formText{
    color: white;
    text-align: center;
    text-wrap: balance;
}
.formTitle{
    color: white;
    text-align: center;
    font-size: clamp(1rem, 0.4rem + 2vw, 1.8rem);
}
.formCall{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    margin-top: 10px;
    box-shadow: 0 0 10px rgb(179, 0, 255);
    border-radius: 5px;
    padding: 10px;
}
@media(max-width:450px){
    .formCall{
        width: 100%;
    }
}
.formulario{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 5px;
    margin: auto;
}
@media(max-width:450px){
    .formulario{
        width: 100%;
    }
}
.form_input{
    padding: 5px;
    border-radius: 5px;
    border: none;
    
}
.form_select{
    padding: 5px;
    border-radius: 5px;
}
.formButton{
    background-color: rgb(73, 3, 103);
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 5px;
    font-size: large;
    font-weight: 600;
    color: #f1f1f1;
}
.formButton:hover{
    background-color:rgb(144, 4, 203) ;
    box-shadow: 0 0 8px rgb(0, 221, 255);
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}